img{
    width: 500px;
    height: 500px;

}

h1{
    color: coral;
    font-family: fantasy;
    text-align: center;
}

h2{
    color: coral;
    font-family: fantasy;
    text-align: center;
}

form{
    text-align: center;
    color: coral;
    font-family: fantasy;
}

 body{
text-align: center;
font-family: fantasy;
 }
 
 a{
     color: coral;
 }